---
// Get all posts and sort them by date.
import { parse } from 'date-fns';
const allPosts = await Astro.glob('./posts/*.md');
const sortedPosts = allPosts.sort((a, b) => parse(a.frontmatter.date, 'dd-MM-yyyy', new Date()).getTime() - parse(b.frontmatter.date, 'dd-MM-yyyy', new Date()).getTime()).reverse();

import Layout from '../../layouts/Layout.astro';
---
<Layout title="Blog">
    <article class="prose text-center mb-6">
        <h2>Blog 📄</h2>
        <hr>
    </article>

    <script defer src="/src/scripts/blog.js"></script>

    <div class="flex flex-col lg:flex-row">
        <button class="btn btn-outline mb-3 lg:mr-3">All</button>
        <button class="btn btn-outline mb-3 lg:mr-3">Tag 1</button>
        <button class="btn btn-outline mb-3 lg:mr-3">Tag 2</button>
    </div>

    <ul class="text-xl text-center">
        {sortedPosts.map((post) => (
        <li class="post my-4" data-tags={post.frontmatter.tags}>
            <a href={post.url}>{post.frontmatter.title} &nbsp;&nbsp;&nbsp;&nbsp; {post.frontmatter.date}</a>
        </li>
        ))}
    </ul>
</Layout>

