---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">

  <div class="flex flex-col lg:flex-row px-8">

  <div class="lg:basis-1/4 lg:pr-8 pb-8">

                <ul class="timeline timeline-vertical">
                  <li>
                    <div class="timeline-start">1984</div>
                    <div class="timeline-middle">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        class="h-5 w-5">
                        <path
                          fill-rule="evenodd"
                          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                          clip-rule="evenodd" />
                      </svg>
                    </div>
                    <div class="timeline-end timeline-box">First Macintosh computer</div>
                    <hr />
                  </li>
                  <li>
                    <hr />
                    <div class="timeline-start">1998</div>
                    <div class="timeline-middle">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        class="h-5 w-5">
                        <path
                          fill-rule="evenodd"
                          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                          clip-rule="evenodd" />
                      </svg>
                    </div>
                    <div class="timeline-end timeline-box">iMac</div>
                    <hr />
                  </li>
                  <li>
                    <hr />
                    <div class="timeline-start">2001</div>
                    <div class="timeline-middle">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        class="h-5 w-5">
                        <path
                          fill-rule="evenodd"
                          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                          clip-rule="evenodd" />
                      </svg>
                    </div>
                    <div class="timeline-end timeline-box">iPod</div>
                    <hr />
                  </li>
                  <li>
                    <hr />
                    <div class="timeline-start">2007</div>
                    <div class="timeline-middle">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        class="h-5 w-5">
                        <path
                          fill-rule="evenodd"
                          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                          clip-rule="evenodd" />
                      </svg>
                    </div>
                    <div class="timeline-end timeline-box">iPhone</div>
                    <hr />
                  </li>
                  <li>
                    <hr />
                    <div class="timeline-start">2015</div>
                    <div class="timeline-middle">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        class="h-5 w-5">
                        <path
                          fill-rule="evenodd"
                          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                          clip-rule="evenodd" />
                      </svg>
                    </div>
                    <div class="timeline-end timeline-box">Apple Watch</div>
                  </li>
                </ul>
</div>

<div class="lg:basis-3/4">
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis ex quidem perferendis, voluptates ea ipsum veniam officia fugiat quam iste? Harum placeat voluptates quae alias deserunt aliquam sunt dolore omnis. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum explicabo ratione quo exercitationem facilis nulla blanditiis quod. Adipisci voluptatem, eum nostrum amet a reprehenderit, mollitia assumenda accusamus, id expedita est? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus fugiat rem quasi. Facere qui, odit molestias, quaerat illum saepe quos sit esse voluptas sed, optio mollitia tempore nihil aliquid maiores! Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias mollitia error ducimus autem debitis cum sint, dolores, fugit adipisci voluptatibus rem unde reiciendis impedit quis, non doloribus. Eos, voluptate porro. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo odio ratione error earum labore magnam repudiandae, dicta accusantium quibusdam doloremque praesentium mollitia facilis ipsum sequi officia temporibus quaerat quae culpa! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum et itaque, doloribus sapiente ut eius nisi, quam, veritatis aperiam aut rem. Ab veniam reiciendis, dolorum cum dolor odit ipsam praesentium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet earum quasi blanditiis quia impedit error deleniti accusamus, modi tempore unde eius tenetur placeat esse temporibus in culpa, ipsum voluptatem animi! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam explicabo provident incidunt sapiente inventore, possimus repellendus architecto a molestiae maiores ullam ipsam beatae in neque perferendis, aliquid voluptatibus iste quidem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa corporis sit accusamus nesciunt totam, eligendi possimus cum maiores! Reiciendis minus non at blanditiis vero tempore quod quia molestias quibusdam ex? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus magni quod dolor fugit iste porro dolorem impedit! Optio velit quam vitae labore sint, eaque possimus dicta dignissimos error, nostrum nesciunt! Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque magni eos aspernatur. Quibusdam doloremque officiis quos similique iste voluptatem, nisi sed, veritatis totam dolores nemo dolorem, tempora debitis fugit veniam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita assumenda repellat qui rem sed dicta vero eum temporibus harum velit quo cumque, ratione minus sapiente, sit illo beatae, soluta sequi! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas sequi laboriosam unde magnam veritatis, impedit odio possimus laudantium et distinctio provident labore esse repellat molestias. Maxime inventore corporis ipsa. Quo! Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, maiores. Reprehenderit ea voluptas voluptatibus accusamus. Nisi totam eos architecto officia earum tempore distinctio maiores nostrum mollitia, quod impedit nihil quo! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam, officiis eaque! Nesciunt quisquam odio animi atque fugiat nobis ducimus dignissimos beatae cumque perferendis repellat eos, accusamus impedit neque similique reprehenderit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus doloremque, nisi iure fuga officia distinctio laudantium repudiandae quos asperiores explicabo delectus illum ut enim velit, consequuntur corporis illo eius id. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis nobis in tempora laborum corporis, nihil itaque officia odit delectus adipisci cupiditate! Nam atque vero numquam. Porro similique exercitationem deleniti veritatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt quibusdam veniam sunt obcaecati ea temporibus, saepe commodi dicta eaque totam. Aspernatur, reprehenderit? Aliquid eius rerum earum quos doloremque consequuntur fuga. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, quod ipsam laboriosam incidunt non sunt saepe magni dolorum eligendi quae atque excepturi quaerat a dolore id? Placeat obcaecati quae nostrum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio minima expedita, quaerat dolor possimus inventore ipsam, sequi accusantium itaque aut error vero fugiat? Ea accusantium eum error veritatis adipisci temporibus? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia nobis cumque deleniti minus dolorem, maiores quisquam atque perspiciatis eligendi, non neque eum ut dolore harum ad alias impedit illo quis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente inventore alias maiores minus? Rem perferendis, pariatur harum reprehenderit, deleniti laborum illo, fugit perspiciatis totam consequatur obcaecati in ea dolor rerum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis expedita dignissimos laborum? Aperiam magni minus, possimus dicta voluptatem pariatur atque harum itaque voluptates et. Assumenda vero placeat recusandae ducimus accusamus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed possimus repudiandae incidunt quia ipsum dignissimos error inventore, odio, aut ex consectetur quam eos obcaecati accusantium quod recusandae vitae qui modi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus nihil et porro veniam nostrum nisi suscipit harum. Mollitia fugit et repudiandae magni. Officiis quia consequuntur et. Illum nemo sed doloremque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam labore vitae tempora. Earum quos rem similique omnis ut quod eius quibusdam perferendis esse cum consequatur voluptates, magnam unde ea ex.</p>
</div>

</div>

</Layout>