---
import Layout from "../layouts/Layout.astro"
let meme = import.meta.glob('/src/images/meme/*', {eager: true});
let memefiles = Object.keys(meme).map((element) => element.split("/").slice(-1)[0]).join(", ")
---

<Layout title="Meme">

  <div class="w-auto h-auto overflow-hidden px-6 lg:w-2/4">

    <article class="prose pb-6">
        <h2 class="text-center">Meme 🤣</h2>
        <hr>
        <p>This page shows some meme that i love. Some could be too much nerdy to be understood by everyone... 🤓</p>
    </article>

    <img id="meme" class="w-full h-full object-cover max-w-full max-h-full rounded-lg shadow-lg" />
    <br>
    <p class="" id="author"></p>
    <br>
    <p id="description"></p>
    <br>

    <script defer src="/src/scripts/meme.js" id="memescript" data-files={memefiles}></script>

    <div class="flex flex-row justify-center"> 
         <button class="btn btn-outline btn-primary" onclick="changeMeme()">Change Meme</button>
    </div>

    <br>

  </div>

</Layout>

