---
import Layout from '../layouts/Layout.astro'
import YouTubeMusicVideo from '../components/YouTubeMusicVideo.astro'
---
<Layout title="Music">
    <article class="prose pb-6">
        <h2 class="text-center">Music</h2>
        <p>This page has some of my favourite music...</p>
    </article>
    <YouTubeMusicVideo musictitle="Quale Occhio" videoid="BcMKASngU8c"/>
    <YouTubeMusicVideo musictitle="Libiamo, ne' lieti calici" videoid="afhAqMeeQJk"/>
    
</Layout>

