---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Quote">
    <article class="prose">
        <h2 class="text-center">Quote 🖊️</h2>
        <hr>
        <p>This page has some inspirational quotes that I love...</p>
            <blockquote>
                <p id="quote"></p>
                <footer id="author"></footer>
            </blockquote>
    </article>

    <br>

    <script defer src="/src/scripts/quote.js"></script>
    
    <div class="flex flex-row justify-center"> 
        <button class="btn btn-outline btn-primary" onclick="changeQuote()">Change Quote</button>
   </div>

</Layout>

