---
---

<aside class="grid grid-cols-1 sm:grid-cols-3 gap-4 py-4 sm:justify-items-stretch">

    <div class="flex space-x-4 sm:justify-self-start items-center">  

      <a id="envelope" href="#" class="hover:text-gray-500">
        <i class="fa-solid fa-envelope fa-xl"></i>
      </a> 

      <a href="#" class="hover:text-gray-500">
        <i class="fa-brands fa-github fa-xl"></i>
      </a> 

      <a href="#" class="hover:text-gray-500">
        <i class="fa-brands fa-linkedin fa-xl"></i>
      </a> 

      <a href="#" class="hover:text-gray-500">
        <i class="fa-brands fa-stack-overflow fa-xl"></i>
      </a> 

    </div>

    <div class="text-center sm:text-left">
      Copyright © {new Date().getFullYear()} - Crafted from scratch with
      <span id="heart-wrapper" class="px-1 inline-block">♥️</span>
      by Giulio Nisi using awesome technologies like: <span id="techs"></span>.
    </div>

    <div class="text-center sm:text-right">
      <!-- Placeholder for a eventually the third column -->
    </div>
    
  </aside>