---
---
  
<div class="grid grid-cols-1 items-center lg:grid-cols-3 mt-4 mb-4">

  <div class="py-2 justify-self-center lg:justify-self-start">
    <a id="envelope" href="#" class="px-2">
      <i class="fa-solid fa-envelope fa-xl hover:text-primary"></i>
    </a> 

    <a href="#" class="px-2">
      <i class="fa-brands fa-github fa-xl hover:text-primary"></i>
    </a> 

    <a href="#" class="px-2">
      <i class="fa-brands fa-linkedin fa-xl hover:text-primary"></i>
    </a> 

    <a href="#" class="px-2">
      <i class="fa-brands fa-stack-overflow fa-xl hover:text-primary"></i>
    </a> 
  </div>

  <div class="text-center py-2">
    Copyright © {new Date().getFullYear()} <br> 
    Crafted from scratch with <span id="heart-wrapper" class="mx-2 inline-block">♥️</span> by Giulio Nisi. <br>
    Used awesome technologies like: <span id="techs"></span>.
  </div>
    
  <div class="justify-self-center lg:justify-self-end">
    <!-- Placeholder end footer -->
  </div>

</div>

