---
---

<div class="flex flex-col items-center lg:justify-center lg:flex-row">

    <div class="text-center my-2">
      Copyright © {new Date().getFullYear()} <br> 
      Crafted from scratch with <span id="heart-wrapper" class="mx-2 inline-block">♥️</span> by Giulio Nisi. <br>
      Used awesome technologies like: <span id="techs"></span>.
    </div>
    
</div>

