---

---

<aside>
    <div>
        Copyright © {new Date().getFullYear()} - Crafted from scratch with
        <div id="heart-wrapper" class="px-1 inline-block">♥️</div>
        by Giulio Nisi using awesome technologies like: <span id="techs"></span>.
    </div>
</aside>

