---
import Navbar from "./Navbar.astro";
---

<div transition:persist class="navbar mb-2 mt-2">
    <div class="navbar-start">

      <!-- Mobile -->
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16" />
          </svg>
        </div>
        <ul
          tabindex="0"
          class="menu menu-md bg-base-100 rounded-box dropdown-content z-20 text-base">
          <Navbar />
          <li>
            <a>Things I love</a>
            <ul class="p-2">
                <li><a>Meme</a></li>
                <li><a>Quotes</a></li>
                <li><a>Music</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <img onclick="astroNavigate('/')" class="w-10 h-10" id="header-logo" />

      <p onclick="astroNavigate('/')" class="mx-2 text-nowrap text-lg italic font-bold">Giulio Nisi</p>
      
    </div>

    <!-- Desktop -->
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal text-base bg-base-100">
        <Navbar />
        <li>
          <details>
            <summary>Things I love</summary>
            <ul class="rounded-t-none">
              <li><a>Meme</a></li>
              <li><a>Quotes</a></li>
              <li><a>Music</a></li>
            </ul>
          </details>
      </li>
      </ul>
    </div>

    <div class="navbar-end">
      <!-- End Navbar Placeholder -->
    </div>

  </div>

  