---
const {videoid} = Astro.props
---
<div class="music-video w-4/6 h-64 justify-center pb-6 hidden">
    <iframe
      id={videoid}
      class="rounded-lg shadow-lg w-full h-full"
      allow="picture-in-picture"
      allowfullscreen
    ></iframe>
</div>


